<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
		* { margin: 0; padding: 0; box-sizing: border-box; }
		body { font: 13px Helvetica, Arial; }
		form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 80%; }
		form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
		form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
		#messages, #page-fb { list-style-type: none; margin: 0; padding: 0; }
		#messages li, #page-fb li, #conver-fb li { padding: 5px 10px; }
		#messages li:nth-child(odd), #page-fb li:nth-child(odd) { background: #eee; }
		#messages, #page-fb, #conver-fb{ margin-bottom: 40px }
		.col-left{
			width: 15%;
			height: 100%;
			float: left;
			display: block;
			position: fixed;
			border: 2px #000 solid;
		}
		.col-right{width: 70%;float: right;}
		.page-li, #conver-fb{cursor: pointer;}
    </style>
  </head>
  <body>
	<div class="col-left">
		<ul id="page-fb">
			
		</ul>		
	</div>
	<div class="col-left" style="margin-left:15%">
		<ul id="conver-fb">
			
		</ul>		
	</div>
    <div class="col-right">
		<ul id="messages"></ul>
		<form action="">
			<input id="m" autocomplete="off" /><button>Send</button>
		</form>
	</div>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
	$(function () {
        var socket = io();
		var conv_id = "";
		//var token = "<?php echo $_GET['token']; ?>";
		//socket.emit('get page', token);
        $('form').submit(function(){
			socket.emit('chat message', $('#m').val());
			
			
			var token = $('#conver-fb').attr('token');
			var ar = [conv_id,token, $('#m').val()];
			
			socket.emit('chat message', ar);
			
			$('#m').val('');
			
			return false;
        });
        socket.on('chat message', function(msg){
			if(conv_id == msg[0]){
				$('#messages').append($('<li>').html(msg[1]+": "+msg[2]));
			}
			
			window.scrollTo(0, $("#messages").height());
        });
		
		socket.on('facebook_page', function(msg){
			var obj = jQuery.parseJSON( '{ "name": "John" }' );
			//console.log(msg.data);
			$('#page-fb').html("");
			$.each( msg.data, function( key, value ) {
				$('#page-fb').append($('<li class="page-li" token="'+value.access_token+'" page_id="'+value.id+'">').html(value.name));
			});
			
        });
		
		$(document).on('click', '.page-li', function(e) { 
			var id = $(this).attr('page_id');
			var token = $(this).attr('token');
			var ar = [id,token];
			$('#conver-fb').attr('token', token);
			
			socket.emit('conversations', ar);
		});
		socket.on('conversations', function(msg){			
			$('#conver-fb').html("");
			$.each( msg.data, function( key, value ) {
				$('#conver-fb').append($('<li class="conver-li" conver_id="'+value.id+'">').html(value.senders.data[0].name));
			});
			
        });
		
		$(document).on('click', '.conver-li', function(e) { 
			var id = $(this).attr('conver_id');
			var token = $('#conver-fb').attr('token');
			var ar = [id,token];
			conv_id = id;
			//console.log(ar);
			socket.emit('messages', ar);
		});
		socket.on('messages', function(msg){			
			
			$('#messages').html('<li class="conver-first" ></li>');
			var msg_arr = msg.data.reverse();
			console.log(msg_arr); 
			//return false;
			$.each( msg_arr, function( key, value ) {
				if(value.message == ""){
					var id = value.id;
					var name = value.from.name;
					var token = $('#conver-fb').attr('token');
					var ar = [id,name,token];
					
					socket.emit('attachments', ar);
					
				}else{
					$('.conver-first').after($('<li class="conver-li" >').html(value.from.name +": "+value.message));
					window.scrollTo(0, $("#messages").height());
				}				
			});
			
        });
		
		socket.on('attachments', function(msg){	
		//console.log(msg);
			if(msg.attachments){
				if(msg.attachments.data[0].mime_type == "image/jpeg"){					
					var str = "<a href='"+msg.attachments.data[0].image_data.url+"'><img src='"+msg.attachments.data[0].image_data.url+"' style='width:50px' /></a>";					
					$('.conver-first').after($('<li class="" >').html( "tet"+": "+str));
				}else{
					var str = "<a href='"+msg.attachments.data[0].file_url+"'>"+msg.attachments.data[0].name+"</a>";
					$('.conver-first').after($('<li class="" >').html("test" +": "+str));
				}
				
			}
			window.scrollTo(0, $("#messages").height());
			
				
			
        });
	});
    </script>
  </body>
</html>
